# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.log
*.tar.*
*.vsix
.dart_tool/
.pub/
**/*.g.dart
**/*.freezed.dart

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/captures/
android/local.properties

# Visual Studio
.vs/

# Dependencies
pubspec.lock

# OS
.DS_Store
Thumbs.db
